/* Styling untuk header */
.appheader {
  background-color: rgb(255, 252, 252);
  color: black;
  padding: 10px;
  text-align: center;
  display: flex;
  border-bottom: 2px solid #ccc;
  gap: 15px;
  border-radius: 10px;
}

.logo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.name h2 {
  padding-top: 25px;
  margin: 0;
  font-size: 24px;
}

.name p {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
}

/* Styling untuk konten */
.body {
  background-color: #9b9b9b; /* Warna abu-abu untuk latar belakang konten */
  padding: 20px;
  min-height: 100vh; /* Memastikan konten menempati seluruh tinggi layar */
}

IonItem {
  margin: 15px 0;
}

IonLabel,
IonText {
  font-size: 16px;
}

IonInput {
  font-size: 16px;
}
